
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    font-size: 62.5%; /* 1 rem == 10 px*/
}

:root {
    --header-grey: rgb(31,31,31);
    --post-grey: rgb(92, 92, 92);
    --pink-title: rgb(205,92,92);
    --grey-social: rgb(190, 188, 188);
    --cyan-social: rgb(0,206,209);
    --modal-white: #f4f4f4;
}

/* HEADER AREA */

.header {
    height: 100vh;
    width: 22vw;
    background: linear-gradient(360deg, var(--header-grey) 10%, var(--modal-white) 360%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__button {
    margin-top: 3rem;
}

.header__button-h1 {
    font-size: 3.8rem;
    font-weight: 600;
    color: var(--pink-title);
}

.header__button-h1:hover {
    color: var(--cyan-social);
}

.header__div-social {
    margin: 2rem 0;
}

.header__div-button {
    height: 5vh;
    width: 5vh;
    margin: 0 5px;
}

.header__div-button:hover {
    color: var(--cyan-social);
}

hr {
    height: 1px;
    width: 15vw;
    border-width: 0;
    color: var(--grey-social);
    background-color: var(--grey-social);
    margin-bottom: 3vh;
}

.hr__header {
    height: 2px;
}

.header__div-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__div-menu:hover {
    color: var(--cyan-social);
}

.header__div-menu-h2 {
    font-size: 2rem;
    font-weight: 400;
}

.btn {
    background-color: transparent;
    border: none;
    outline: none;
    min-height: 44px;
    color: var(--grey-social);
    cursor: pointer;
}

/* ASIDE AREA */

.aside {
    width: 78vw;
    height: 13vh;
    display: flex;
    flex-direction: column;
    top: 0;
    align-items: center;
    z-index: 1;
    margin-left: auto;
    margin-right: 1.5vw;
}

.aside__button {
    margin: 1rem 1rem 1rem auto;
    color: var(--pink-title);
}

.aside__button:hover {
    color: var(--cyan-social);
}

.hr__main {
    width: 93vw;
    margin-left: auto;
}


/* MAIN AREA */

.container {
    width: 73vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.postContainer {
    margin-right: 4vw;
}

.postTitle {
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--post-grey);
}

.postTitle:hover {
    color: var(--cyan-social);
    cursor: pointer;
}

.hrPost {
    width: 70vw;
}

.postBody {
    font-size: 2rem;
    color: var(--post-grey);
    text-align: justify;
}

.divUser {
    display: flex;
}

.postButton {
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.postButton:hover {
    color: var(--cyan-social);
}

.articleTitle {
    margin-left: 1rem;
    font-size: 1.5rem;
}


.divEdit {
    display: flex;
    margin-bottom: 4rem;

}

/* POST MODAL AREA */

#modal-post {
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    left : 0;
    top: 0;
    width: 0px;
    max-height: 80vh;
    overflow-y: auto;
    opacity: 0;
    transition: opacity 0.15s ease-out;
}
#modal-post.visible {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.15s ease-out;
    max-height: 100%;
    overflow-y: auto;
    overflow:scroll;
}
.modal {
    position: absolute;
    margin: 0 auto;
    width: 50%;
    background-color: var(--modal-white);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top: 50%;
    max-height: 80vh;
    overflow-y: auto;
    transform: translateY(-50%);
    color: var(--post-grey);
}

#modalPostTitle{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

#modalPostBody, #modalPostUserId, #modalPostEmail{
    font-size: 12px;
    margin-bottom: 5px;
}

.modalHeader{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comments{
    border-top: 1px var(--grey-social) solid;
    padding-top: 5px;
}

#modalPostLoad{
    width: 50%;
    margin-top: 2%;
    margin-right: 2%;
    padding: 2%;
    border-radius: 5px;
    border: 2px solid var(--grey-social);
    color: var(--pink-title);
    outline: none;
    font-weight: 600;
}
#modalPostLoad:hover {
    transform: scale(1.04);
    border: 2px solid var(--cyan-social);
    color: var(--cyan-social);
}
.commentsContainer{
    border-bottom: 1px solid var(--grey-social);
}
.commentName{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.commentBody, .commentEmail{
    font-size: 12px;
    margin-bottom: 5px;
}

/* EDIT MODAL AREA */

.dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding-top: 5rem;
    background-color: rgb(85, 85, 85, 0.3);
}

.dialog__form {
    margin: 6vh auto 15vh auto;
    max-width: 50rem;
    border-radius: 5px;
    border: 3px solid var(--grey-social);
    background-color: var(--modal-white);
}

.close-modal {
    display: flex;
    justify-content: flex-end;
}

.fa-close {
    padding: 12px;
}

.dialog__form-div {
    padding: 3vh;
}

.dialog__form-div-div{
    margin: 3vh 0 1vh 0;
}

.dialog__form-div-h2 {
    font-size: 2.2rem;
    color: var(--pink-title);
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 0.8rem;
}

.editHr {
    width: 100%;
    height: 1.5px;
}

.dialog__form-div-label{
    margin-top: 2vh;
    color: var(--post-grey);
}

.dialog__form-div-label b {
    font-size: 1.7rem;
}

.dialog__form-div-input {
    width: 100%;
    padding: 1vh;
    font-size: 1.6rem;
    border: none;
    display: inline-block;
    border-radius: 5px;
    background: linear-gradient(360deg, #dee1e1 20%, var(--modal-white) 360%);
}

.dialog__form-div-input:focus, .dialog__form-div-textarea:focus {
    border: 2px solid var(--cyan-social);
    outline: none;
}

#submitBtn:focus {
    outline: none;
}

.div__submit {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.submit {
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 70%;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid var(--grey-social);
    color: var(--pink-title);
}
.submit:hover {
    transform: scale(1.04);
    border: 2px solid var(--cyan-social);
    color: var(--cyan-social);
}

/* SNIPPET AREA */

.snippet {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: none;
    border: none;
    padding-top: 43vh;
    background-color: transparent;
}

.sk-bounce {
    margin: auto;
    width: 10rem;
    height: 10rem;
    position: relative;
}

.sk-bounce-dot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--cyan-social);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-bounce 2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.sk-bounce-dot:nth-child(2) { animation-delay: -1.0s; }

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0);
    } 45%, 55% {
        transform: scale(1);
    }
}

.successMessage {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: none;
    border: none;
    padding-top: 35vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.success {
    width: 34vw;
    height: 20vh;
    font-size: 1.4rem;
    background-color: var(--modal-white);
    border-radius: 10px;
    border: 3px solid var(--cyan-social);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-check-circle {
    color: var(--cyan-social);
}

.successBtn {
    padding: 1em 0;
    color: var(--post-grey);
}

.aside__button-h3 {
    font-size: 2rem;
}

.aside__button-p {
    font-size: 1.5rem;
    margin-bottom: 0.3em;
}