
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    font-size: 62.5%; /* 1 rem == 10 px*/
}

:root {
    --header-grey: rgb(31,31,31);
    --post-grey: rgb(92, 92, 92);
    --pink-title: rgb(205,92,92);
    --grey-social: rgb(190, 188, 188);
    --cyan-social: rgb(0,206,209);
}

/* HEADER AREA */

.header {
    height: 100vh;
    width: 22vw;
    background: linear-gradient(360deg, var(--header-grey) 10%, #f4f4f4 360%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__button {
    margin-top: 3rem;
}

.header__button-h1 {
    font-size: 3.8rem;
    font-weight: 600;
    color: var(--pink-title);
}

.header__button-h1:hover {
    color: var(--cyan-social);
}

.header__div-social {
    margin: 2rem 0;
}

.header__div-button {
    height: 5vh;
    width: 5vh;
    margin: 0 5px;
}

.header__div-button:hover {
    color: var(--cyan-social);
}

hr {
    height: 1px;
    width: 15vw;
    border-width: 0;
    color:var(--grey-social);
    background-color: var(--grey-social);
    margin-bottom: 3vh;
}

.hr__header {
    height: 2px;
}

.header__div-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__div-menu:hover {
    color: var(--cyan-social);
}

.header__div-menu-h2 {
    font-size: 2rem;
    font-weight: 400;
}

.btn {
    background-color: transparent;
    border: none;
    outline: none;
    min-height: 44px;
    color: var(--grey-social);
}

/* ASIDE AREA */

.aside {
    width: 78vw;
    height: 13vh;
    display: flex;
    flex-direction: column;
    top: 0;
    align-items: center;
    z-index: 1;
    margin-left: auto;
    margin-right: 1.5vw;
}

.aside__button {
    margin: 1rem 1rem 1rem auto;
    color: var(--pink-title);
}

.aside__button:hover {
    color: var(--cyan-social);
}

.hr__main {
    width: 93vw;
    margin-left: auto;
}


/* MAIN AREA */

.container {
    width: 73vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.postContainer {
    margin-right: 4vw;
}

.postTitle {
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--post-grey);
}

.postTitle:hover {
    color: var(--cyan-social);
}

.hrPost {
    width: 70vw;
}

.postBody {
    font-size: 2rem;
    color: var(--post-grey);
    text-align: justify;
}

.divUser {
    display: flex;
}

.postButton {
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.postButton:hover {
    color: var(--cyan-social);
}

.articleTitle {
    margin-left: 1rem;
    font-size: 1.5rem;
}


.divEdit {
    display: flex;
    margin-bottom: 4rem;

}

/* MODAL AREA */

#modal-post {
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    left : 0;
    top: 0;
    width: 0px;
    max-height: 80vh;
    overflow-y: auto;
    opacity: 0;
    transition: opacity 0.15s ease-out;
}
#modal-post.visible {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.15s ease-out;
    max-height: 100%;
    overflow-y: auto;
    overflow:scroll;
}
.modal {
    position: absolute;
    margin: 0 auto;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top: 50%;
    max-height: 80vh;
    overflow-y: auto;
    transform: translateY(-50%);
}

#modalPostTitle{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

#modalPostBody, #modalPostUserId, #modalPostEmail{
    font-size: 12px;
    margin-bottom: 5px;
}

.modalHeader{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comments{
    border-top: 1px black solid;
    padding-top: 5px;
}

#modalPostLoad{
    width: 50%;
    margin-top: 2%;
    margin-right: 2%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 2%;
}
.commentsContainer{
    border-bottom: 1px solid black;
}
.commentName{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.commentBody, .commentEmail{
    font-size: 12px;
    margin-bottom: 5px;
}